
AreaSeries {
    fill-color: #FED2B9;
    stroke-color: #FE6A16;
    stroke-width: 4;
}

BarSeries {
    stroke-width: 2;
}

Label {
    font-size: 16;
    font-weight: bold;
    margin-left: 4;
    margin-top: 4;
}

LineSeries {
    stroke-width: 3;
}

StackLayout {
    margin-bottom: 12;
}

.darkColor {
    color: #00036B;
}
